*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-primary: #fbfaff;
    --color-text-primary: #080415;
    --color-text-secondary: #51586a;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
}

/* =============================================== Common =============================================== */
a {
    text-decoration: none;
    color: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heading {
    color: var(--color-text-primary);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.125rem;
}

.desc {
    color: var(--color-text-secondary);
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.btn,
.link {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.875rem;
}

.btn {
    width: 170px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
    background: #5d3bee;
    transition: opacity 0.25s;
}

.btn:hover {
    opacity: 0.8;
}

.link {
    color: var(--color-text-primary);
    text-decoration-line: underline;
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

/* =============================================== Header =============================================== */
.header {
    padding-top: 47px;
    background: var(--color-primary);
}

.header__inner {
    position: relative;
    max-width: 1330px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-icon-thum {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__contact-icon {
    width: 60%;
}

.header__contact-mail {
    margin-left: 10px;
    color: var(--color-text-primary);
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.875rem;
    text-decoration-line: underline;
}

.header__icon {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: -21.5px;
    margin-right: -21.5px;
}

.navbar__item {
    padding: 6px 21.5px;
    color: var(--color-text-secondary);
    font-size: 1.125rem;
    transition: color 0.25s;
}

.navbar__item:hover {
    color: var(--color-text-primary);
}

/* =============================================== Hero =============================================== */
.hero {
    display: flex;
    align-items: end;
    background: var(--color-primary);
    height: calc(100vh - 93px);
    overflow: hidden;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero-image-thum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    position: relative;
    width: 514px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero-decor {
    position: absolute;
    top: 10px;
    left: -100px;
    width: 600px;
}

.hero__content {
    padding-left: 90px;
}

.heading-hero {
    font-size: 5rem;
    line-height: 4.75rem;
    letter-spacing: -0.2rem;
}

.desc-hero {
    margin-top: 23px;
    width: 370px;
}

.hero__action {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hero-cta-link {
    margin-left: 30px;
}

.hero__contact {
    position: relative;
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.hero-decor-2 {
    position: absolute;
    bottom: -250px;
    right: -40%;
    width: 250px;
}

.hero__contact-desc {
    font-size: 1rem;
    font-weight: 500;
}

.hero__contact-list {
    margin-left: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__contact-item-thum {
    width: 40px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__contact-item {
    width: 50%;
}

/* =============================================== Service =============================================== */
.service {
    padding: 100px 0 140px;
}

.service__client {
    display: flex;
    column-gap: 105px;
}

.service__client-heading {
    position: relative;
    padding-left: 99px;
    font-size: 2.625rem;
    line-height: 3.125rem;
    letter-spacing: -0.105rem;
}

.service__client-heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 0;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.service__company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}

.service__company-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 36px;
}

.service__company-list:first-child {
    column-gap: 60px;
}

.service__company-item {
    height: 36px;
    cursor: pointer;
}

.service__main {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__main-desc {
    margin-top: 20px;
    max-width: 534px;
    text-align: center;
}

.service__list {
    margin-top: 60px;
}

.service__item {
    padding: 32px 40px;
    background: var(--color-primary);
    transition: transform 0.25s;
}

.service__item:hover {
    transform: translateY(-10px);
}

.service__item-icon-thum {
    width: 74px;
    height: 74px;
    border: 1px solid #dedede;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__item-icon {
    width: 45%;
}

.service__list .col:nth-child(2) .service__item-icon-thum {
    position: relative;
}

.service__list .col:nth-child(2) .service__item-icon:first-child {
    position: absolute;
}

.service__item-title {
    display: block;
    margin-top: 22px;
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
    cursor: pointer;
    white-space: nowrap;
}

.service__item-desc {
    margin-top: 15px;
}

/* =============================================== Project =============================================== */
.project {
    padding: 86px 0;
    background: #5d3bee;
}

.project-heading,
.project-desc {
    color: #fff;
}

.project-desc {
    max-width: 370px;
}

.project__top {
    display: flex;
    align-items: baseline;
}

.project__list {
    margin-top: 40px;
}

.project__item {
    position: relative;
    margin-top: 30px;
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
    column-gap: 47px;
    background: #fbfaff;
    overflow: hidden;
    transition: transform 0.25s;
}

.project__item:hover {
    transform: scale(1.02, 1.02);
}

.project__item-heading {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
    cursor: pointer;
    white-space: nowrap;
}

.project__item-desc {
    max-width: 220px;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.4375rem;
}

.project__item-links {
    display: block;
    margin-top: 20px;
    color: var(--color-text-primary);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-decoration-line: underline;
}

.project__item-media {
    width: 45%;
}

.project__item-image {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.project__item-decor {
    position: absolute;
    width: 110%;
    top: -75%;
    right: -38%;
}

.project__cta-view-all {
    margin: 80px auto 0;
    background: #fff;
    color: var(--color-text-primary);
}

/* =============================================== Introduce =============================================== */
.introduce {
    position: relative;
    padding: 140px 0 65px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(251, 250, 255, 1) 100%
    );
    overflow: hidden;
}

.introduce-decor-left,
.introduce-decor-right {
    position: absolute;
    width: 280px;
    bottom: -180px;
    transform: rotate(7deg);
}

.introduce-decor-left {
    left: -100px;
}

.introduce-decor-right {
    right: -30px;
}

/* =============================================== About =============================================== */
.about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-sub-heading {
    color: #5d3bee;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
}

.about-heading {
    margin-top: 10px;
}

.about-desc {
    margin-top: 15px;
    width: 570px;
    text-align: center;
}

.about__stats {
    margin-top: 70px;
    max-width: 946px;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

.about__stats-list {
    padding: 20px 95px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 130px;
}

.stats-item-qty {
    color: var(--color-text-primary);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.75rem;
    letter-spacing: 0.105rem;
    text-decoration-line: underline;
}

.about__video {
    margin-top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__video-poster {
    width: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    width: 111px;
    height: 111px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
    color: #5d3bee;
    cursor: pointer;
}

.play-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.about__video-intro {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.about__video-desc {
    font-weight: 700;
}

/* =============================================== Feedback =============================================== */
.feedback {
    margin-top: 150px;
}

.feedback__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.feedback-desc {
    margin-top: 20px;
    width: 570px;
    text-align: center;
}

.feedback-list {
    margin-top: 60px;
    display: flex;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item-quote {
    max-width: 679px;
    height: 114px;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.feedback-item-client {
    margin-top: 36px;
    display: flex;
    align-items: center;
}

.feedback-item-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item-name {
    margin-left: 15px;
    color: var(--color-text-primary);
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.feedback-item-desc {
    margin-top: 10px;
    font-size: 1rem;
}

.feedback-dots {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.feedback-dot {
    width: 16px;
    height: 16px;
    background: #d2d2d2;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-dot-active {
    width: 12px;
    height: 12px;
    background: #5d3bee;
    outline: 1px solid #5d3bee;
    outline-offset: 3px;
}

/* =============================================== Faq =============================================== */
.faq {
    padding: 95px 0 80px;
}

.faq__list {
    margin-top: 80px;
}

.faq__item {
    position: relative;
    max-width: 1009px;
    padding-left: 22px;
    border-bottom: 2px solid #08182f;
}

.faq__item + .faq__item {
    margin-top: 60px;
}

.faq__item-title {
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
    margin-bottom: 12px;
    transition: color 0.5s;
}

.faq__item-answer {
    margin-top: 11px;
    margin-bottom: 10px;
    display: inline-block;
    width: 487px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.faq__item-see-answer {
    position: absolute;
    top: 16.6%;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq__item-icon,
.faq__item-icon-default {
    width: 14px;
}

.faq__item-icon-default {
    display: none;
}

.faq-checkbox:checked ~ .faq__item-title {
    color: #5d3bee;
}

.faq-checkbox:checked ~ .faq__item-answer {
    height: 57px;
}

.faq-checkbox:checked ~ .faq__item-see-answer > .faq__item-icon {
    display: none;
}

.faq-checkbox:checked ~ .faq__item-see-answer > .faq__item-icon-default {
    display: inline-block;
    color: #5d3bee;
}

.faq__item:has(.faq-checkbox:checked) {
    border-color: #5d3bee;
}
