/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .bars-thum {
        display: none;
    }

    .toggle-menu {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .header {
        padding-top: 26px;
    }

    .header__inner {
        position: relative;
        padding-bottom: 21px;
    }

    .header__inner::before {
        display: inline-block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 1%;
        width: 98%;
        height: 1px;
        background: #d6d3e2;
    }

    .header__contact-mail {
        display: none;
    }

    .header__icon {
        top: unset;
    }

    .navbar {
        display: none;
    }

    .bars-thum {
        cursor: pointer;
    }

    .bars {
        width: 60%;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: inherit;
    }

    .menu-drawer {
        position: relative;
        padding: 90px 40px;
        position: fixed;
        inset: 0 0 0 60%;
        background: #fff;
        z-index: 1;
        transform: translateX(100%);
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .navbar__list {
        flex-direction: column;
        row-gap: 30px;
    }

    .menu-drawer-heading {
        margin-bottom: 50px;
        text-align: center;
    }

    .menu-close svg {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        cursor: pointer;
    }

    .hero {
        height: unset;
    }

    .hero__inner {
        padding: 50px 20px 0;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .hero-image {
        justify-content: center;
    }

    .hero-decor-2 {
        display: none;
    }

    .hero__content {
        padding-left: 0;
    }

    .hero__action {
        margin-top: 30px;
    }

    .hero__contact {
        margin-top: 25px;
    }

    .desc-hero {
        width: 95%;
    }

    .service__innner {
        padding: 0 20px;
    }

    .service__client,
    .service__company {
        flex-direction: column;
    }

    .service__company {
        margin-top: 40px;
    }

    .service__company-list {
        width: 100%;
    }

    .service__client-heading {
        text-align: center;
        padding: 5px 0 0;
        min-width: 170px;
    }

    .service__client-heading::after {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .service__company-item:nth-child(even) {
        justify-self: end;
    }

    .service__list {
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;
    }

    .service-dots {
        display: inline-flex;
    }

    .project__list,
    .project-heading {
        padding: 0 20px;
    }

    .project-desc {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .hero-image {
        width: 60%;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .header__inner {
        justify-content: flex-end;
        column-gap: 10px;
    }

    .header__icon {
        top: unset;
        left: 0;
        transform: translateX(0);
    }

    .header__icon {
        width: 75px;
    }

    .header__contact-icon-thum {
        width: 32px;
        height: 32px;
    }

    .hero-image {
        height: 100%;
    }

    .heading-hero {
        font-size: 2.625rem;
        line-height: 3.125rem;
        letter-spacing: -0.105rem;
    }

    .heading {
        font-size: 2.25rem;
        line-height: 2.625rem;
    }

    .desc {
        font-size: 1rem;
        line-height: 1.625rem;
    }

    .btn,
    .link {
        font-size: 1rem;
    }

    .btn {
        width: 147px;
        height: 55px;
    }

    .hero__contact-desc {
        font-size: 0.875rem;
    }

    .hero__contact-item-thum {
        width: 31px;
        height: 31px;
    }

    .service__client-heading::after {
        width: 48px;
    }

    .menu-drawer {
        padding: 80px 20px;
        inset: 0 0 0 20%;
    }

    .menu-close svg {
        width: 25px;
    }

    .menu-drawer-heading {
        font-size: 3rem;
    }

    .heading-hero {
        font-size: 2.625rem;
        line-height: 3.125rem;
    }

    .service__item-icon-thum {
        width: 62px;
        height: 62px;
    }

    .service__item-title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .project__item-heading {
        font-size: 1.5rem;
        line-height: 2.125rem;
    }

    .project__item-desc {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .project__item {
        column-gap: 22px;
        padding: 20px 15px;
    }

    .project__item-links {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .project__item-decor {
        top: -30%;
    }
}
